In [2]:
import json
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np

In [3]:
files_dir = "/Users/inika/Desktop/Shortcuts/mini/VQA personal/Files/"
data_dir = "/Users/inika/Desktop/Shortcuts/mini/VQA personal/Data/"

f = "v2_mscoco_train2014_annotations.json"
with open(data_dir+f,'r') as myfile:
    data=myfile.read()
data=json.loads(data)

excl_ids = np.load(files_dir+'excluded_img_ids.npy')

In [ ]:
# f = "v2_OpenEnded_mscoco_train2014_questions.json"
# with open(data_dir+f,'r') as myfile:
#     ques=myfile.read()
# ques = json.loads(ques)

In [4]:
df = pd.DataFrame(data['annotations'][:10000])

In [4]:
# ques = ques['questions']
# q = pd.DataFrame(ques[:10000])
# np.array_equal(np.array(df['question_id']),np.array(q['question_id']))

In [5]:
df.head()

,question_type,multiple_choice_answer,answers,image_id,answer_type,question_id
0,what is this,net,"[{'answer': 'net', 'answer_confidence': 'maybe...",458752,other,458752000
1,what,pitcher,"[{'answer': 'pitcher', 'answer_confidence': 'y...",458752,other,458752001
2,what color is the,orange,"[{'answer': 'orange', 'answer_confidence': 'ye...",458752,other,458752002
3,is this,yes,"[{'answer': 'yes', 'answer_confidence': 'yes',...",458752,yes/no,458752003
4,what color is the,white,"[{'answer': 'white', 'answer_confidence': 'yes...",262146,other,262146000

In [9]:
# for ans in df['multiple_choice_answer'][:5]:
#     print(ans)

# keys = list(df['answers'].iloc[0][0].keys())
# for k in keys:
#     print(k.center(10),end=" ")
# print()    
# for ans in df['answers']:
#     for d in ans:
# #         print(d)
#         for _,v in d.items():
#             print(v,end="\t\t")
#         print()
#     break

In [10]:
drop_indices = []
for i,row in df.iterrows():
    if row['image_id'] in excl_ids:
        drop_indices.append(i)

df = df.drop(drop_indices)
df = df.drop(columns=['question_type','answers'])

len(df), len(set(df['image_id']))

(9935, 1913)

In [11]:
df.head()

  multiple_choice_answer  image_id answer_type  question_id
0                    net    458752       other    458752000
1                pitcher    458752       other    458752001
2                 orange    458752       other    458752002
3                    yes    458752      yes/no    458752003
4                  white    262146       other    262146000

In [12]:
df['answer_type'].value_counts()

other     5006
yes/no    3651
number    1278
Name: answer_type, dtype: int64

In [1]:
import tensorflow as tf
from transformers import BertTokenizer, TFBertModel

I0224 20:17:53.331930 4551458240 file_utils.py:41] PyTorch version 1.4.0 available.
I0224 20:17:53.333724 4551458240 file_utils.py:57] TensorFlow version 2.1.0 available.

In [14]:
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = TFBertModel.from_pretrained('bert-base-uncased')

I0224 20:29:46.384268 4551458240 tokenization_utils.py:484] loading file https://s3.amazonaws.com/models.huggingface.co/bert/bert-base-uncased-vocab.txt from cache at /Users/inika/.cache/torch/transformers/26bc1ad6c0ac742e9b52263248f6d0f00068293b33709fae12320c0e35ccfbbb.542ce4285a40d23a559526243235df47c5f75c197f04f37d1a0c124c32c9a084
I0224 20:29:47.819895 4551458240 configuration_utils.py:254] loading configuration file https://s3.amazonaws.com/models.huggingface.co/bert/bert-base-uncased-config.json from cache at /Users/inika/.cache/torch/transformers/4dad0251492946e18ac39290fcfe91b89d370fee250efe9521476438fe8ca185.8f56353af4a709bf5ff0fbc915d8f5b42bfff892cbb6ac98c3c45f481a03c685
I0224 20:29:47.821228 4551458240 configuration_utils.py:290] Model config BertConfig {
  "architectures": [
    "BertForMaskedLM"
  ],
  "attention_probs_dropout_prob": 0.1,
  "bos_token_id": 0,
  "do_sample": false,
  "eos_token_ids": 0,
  "finetuning_task": null,
  "hidden_act": "gelu",
  "hidden_dropout_prob": 0.1,
  "hidden_size": 768,
  "id2label": {
    "0": "LABEL_0",
    "1": "LABEL_1"
  },
  "initializer_range": 0.02,
  "intermediate_size": 3072,
  "is_decoder": false,
  "label2id": {
    "LABEL_0": 0,
    "LABEL_1": 1
  },
  "layer_norm_eps": 1e-12,
  "length_penalty": 1.0,
  "max_length": 20,
  "max_position_embeddings": 512,
  "model_type": "bert",
  "num_attention_heads": 12,
  "num_beams": 1,
  "num_hidden_layers": 12,
  "num_labels": 2,
  "num_return_sequences": 1,
  "output_attentions": false,
  "output_hidden_states": false,
  "output_past": true,
  "pad_token_id": 0,
  "pruned_heads": {},
  "repetition_penalty": 1.0,
  "temperature": 1.0,
  "top_k": 50,
  "top_p": 1.0,
  "torchscript": false,
  "type_vocab_size": 2,
  "use_bfloat16": false,
  "vocab_size": 30522
}

I0224 20:29:49.149276 4551458240 modeling_tf_utils.py:336] loading weights file https://s3.amazonaws.com/models.huggingface.co/bert/bert-base-uncased-tf_model.h5 from cache at /Users/inika/.cache/torch/transformers/d667df51ec24c20190f01fb4c20a21debc4c4fc12f7e2f5441ac0a99690e3ee9.4733ec82e81d40e9cf5fd04556267d8958fb150e9339390fc64206b7e5a79c83.h5
I0224 20:29:54.155464 4551458240 modeling_tf_utils.py:378] Layers from pretrained model not used in TFBertModel: ['nsp___cls', 'mlm___cls']